* {
  box-sizing: border-box;
}

body {
  /* viewport units: vh (viewport height), vw (viewport width), vmin (smallest between vh & vw) */
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header {
  font-size: 4vmin;
  color: darkgray;
  letter-spacing: 1vmin;
}

h1 {
  color: gray;
  font-size: 3vmin;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 20vmin);
  grid-template-rows: repeat(3, 20vmin);
  gap: 1vmin;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
  background-color: lightgray;
}

#board>div {
  background-color: white;
}

#board>div:hover {
  background-color: rgba(249, 247, 247, 0.913);
}

#board.noHover>div:hover {
  background-color: white;
}

@keyframes highlight {
  0% {
    background-color: white;
  }

  50% {
    background-color: rgba(191, 243, 183, 0.464);
  }

  100% {
    background-color: white;
  }
}

.winningLine {
  animation-name: highlight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  color: #8dbd57 !important;
}

#playAgain {
  margin-top: 2vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: 0.1vmin solid grey;
  color: grey;
}

#playAgain:hover {
  color: white;
  background-color: darkgray;
}

#enterNames {
  margin-top: 1.5vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: 0.1vmin solid grey;
  color: grey;
}

#enterNames:hover {
  color: white;
  background-color: darkgray;
}

#submitNames {
  margin-top: 4vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: 0.1vmin solid grey;
  color: grey;
  display: inline-block;
  margin: 1vmin 0 2vmin 0;
}

#submitNames:hover {
  color: white;
  background-color: darkgray;
}

input {
  display: block;
  border-radius: 1.5vmin;
  border: 0.1vmin solid grey;
  padding: .5vmin 1.5vmin;
  margin: 1.5vmin auto;
  text-align: center;
  height: 4vmin;
  font-size: 2vmin;
}

#board>div>p {
  color: grey;
  text-align: center;
  font-size: 13vmin;
  font-weight: bold;
  margin: 1vmin 0vmin;
}

dialog {
  text-align: center;
  padding: 1vmin 6vmin;
  font-size: 4vmin;
  border-radius: 8vmin;
  border: 0.1vmin solid grey;
  margin: 20vmin auto;
}

dialog h1 {
  font-size: 4vmin;
}

dialog::backdrop {}